.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
}

.carousel-container::-webkit-scrollbar {
  height: 5px;
  background-color: #ff583348;
  border-radius: 10px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #ff5733;
  border-radius: 10px;
}

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 5%;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 5px;
  background-color: #fff;
  border: 3px solid rgba(135, 196, 180, 0.256);
  transition: transform 0.3s, box-shadow 0.3s; /* Adicione transição para suavizar o efeito */
  cursor: pointer;
}

.carousel-item:hover {
  transform: translateY(-3px) scale(1.02); /* Leve salto para cima e aumento de 5% no tamanho */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); /* Adicione sombra */
}

.carousel-item > h1 {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.carousel-item > h2 {
  color: black;
  font-size: 0.8rem;
}

.carousel-image > img {
  width: 100%;
}

.carousel-item > span {
  margin-top: 25%;
  margin-bottom: 10%;
  font-size: 1rem;
}

.carousel-item > button {
  background-color: #ff5733;
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.carousel-item > button:hover {
  background-color: #0056b3;
}

.carousel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.carousel > button {
  border: none;
  background: none;
  cursor: pointer;
}

.carousel > button > img {
  width: 50%;
}
