.shopping-cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(219, 218, 218);
}

.shopping-cart-container > h1 {
  font-size: 2.5rem;
}


.cart-button-container {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.cart-button-container > img{
  width: 10%;
  margin-left: 10%;
  background-color: transparent;
}

.shopping-cart-container > button {
  font-size: 1.5rem;
  background-color: #8d8989; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  margin-top: 20px; 
  border-radius: 10px;

}

.shopping-cart-container > button:hover {
  background-color: #0056b3; 
}

.shopping-cart-final-buy {
  display: flex;
}

.shopping-cart-continue-tu-buy {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
}



