
.products-details-container {
  display: flex;
  padding: 20px;
  text-align: center;
  
}

.products-details > h1{
  font-size: 3.2rem;
  color: #333;
  text-align: center;
}

.products-details h2 {
  font-size: 1.8rem;
  color: #555;
  margin-top: 10px;
  text-align: center;

}

.products-details-illustrator {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}


.products-details-buy {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.products-details-container img {
  max-width: 100%;
  margin: 20px 0;
}

.products-details-container h2 {
  font-size: 1.4rem;
  color: #777;
}

.products-details-buy > span {
  font-size: 2rem;
  font-weight: bold;
  color: #ff5733;
  display: block;
  margin: 10px 0;
}

.products-details-buy > p {
  font-size: 1.2rem;
  color: #444;
  line-height: 1.6;
}


.products-details-buy > button {
  background-color: #ff5733; /* Cor laranja */
  color: #fff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.products-details-buy > button:hover {
  background-color: #fa3108; /* Cor laranja mais escura no hover */
}

.products-details-icons {
  display: flex;
}