* {
  margin-top: 5;
  margin-bottom: 5;
  padding: 0;
  top: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: baseline;

  background-color: rgba(135, 196, 180, 0.256);
  border: 1px solid rgba(135, 196, 180, 0.256);
}



